{{#each post in model}}
<div class="card medium">
    <h3>
        {{#link-to 'post' post}}
        {{post.title}}
        {{/link-to}}
    </h3>
    <div class="card-content">
        <p>
            {{post.body}}
        </p>
    </div>
</div>
{{/each}}
